/* 初始化样式 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,*::after{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    background-color: #f2f2f2;
    overflow: hidden;
}
input{
    padding: 3px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
input[type="text"]{
    width: 300px;
    height: 26px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}
textarea{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif,;
    width: calc(100% + 18px)
}
.textareaWrapper {
    width: 300px;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 48px;
    font-weight: 400;
    
}
.successTip{
    height: 40px;
    text-align: center;
    padding: 5px 20px;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    font-size: 18px;
}
.successTip.success{
    transition: all .3s;
    padding: 6px 20px;
    background-color: #8dd35f;
    color: white;
    border-radius: 3px;
}
.successTip.success::after{
    content: '更新成功！';
    display: block;
    width: 100%;
    text-align: center;
}
.successTip.fail{
    transition: all .3s;
    padding: 6px 20px;
    background-color: #e91a38;
    color: white;
    border-radius: 3px;
}
.successTip.fail::after{
    content: '更新失败，请稍后重试！';
    display: block;
    width: 100%;
    text-align: center;
}
.header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pageWrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.page{
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
    background-color: white;
}
aside{
    background-color: white;
}
/* songList 下 */

aside .songList{
    overflow: auto;
}
li.active{
    background-color: #ddd;
}
li.finish{
    text-decoration: line-through;
}
main form .row button.disabled{
    cursor: not-allowed;
    color: #bfcbd9;
    background-color: #eef1f6;
    padding: 5px 10px; 
    border-radius: 3px;
    border: 1px solid #dedbd5;
}
aside .songList li{
    border-bottom: 1px solid #aaa;
    text-align: left;
    padding: 10px 50px;
    cursor: pointer;
}
aside .createSongs,
aside .editSongs{
    padding: 10px 25px;
    cursor: pointer;
    float: left;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

aside .createSongs span{
    text-align: center;
}
aside .createSongs.hide,
aside .editSongs.hide{
    background-color: #eef1f6;
}
aside .songList-container{
    overflow: hidden;
}
aside .songList-container ul{
    height: 70vh;
    overflow-y: auto;
    width: calc(100% + 18px);
}
aside .songList-container li{
    text-align: center;
    font-size: 16px;
    padding: 7px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
}
aside .songList-container li:hover{
    background-color: #ddd;
}
main{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ddd;

}
main form .row{
    margin: 20px;
}
main form .row label{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main form .row .enabled{
    padding: 5px 10px;
    background-color: #4285f4;
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: -5px;
}
main form .row .enabled:hover{
    background-color: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}
span.message{
    width: 6em;    
    display: inline-block;
    text-align: justify;
    overflow: hidden;
    height: 1em;
    line-height: 1;
}
span.message::after{
    content: '';
    display: inline-block;
    width: 100%;
}
#container{
    padding: 80px 10px;
    border: 1px dashed #aaa;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}
#pickfiles{
    font-size: inherit;
    padding: 7px 15px;
    background-color: #4285f4;
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
#pickfiles:hover{
    background-color: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}
.progressBarWrapper{
    width: 150px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: none;
}
.progressBarWrapper.active{
    display: block;
}
.progressBar{
    display: block;
    border-radius: 8px;
    height: 100%;
    background-color: #4285f4;
}
.upload-text{
    margin-top: 10px;
    margin-bottom: 10px;
}